<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>JungleDAO</title>
      <link href="./styles/style.css" rel="stylesheet">
    </head>
    <body>
        <br>
        <br>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="md:flex md:items-center md:justify-between">
                <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                    Treasury Balance - <%- totalBalance %>
                </h2>
                </div>
            </div>
            <br>
            <br>
            <div>
                <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
                    
                    <% balances.forEach(asset => { %>
                  <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
                    <dt class="text-sm font-medium text-gray-500 truncate">
                        <%- asset.name %> - <%- asset.chain %>
                    </dt>
                    <dd class="mt-1 text-3xl font-semibold text-gray-900">
                        <%- asset.current_balance %>
                    </dd>
                  </div>
                  <% }); %>
                </dl>
                <br>
                <br>
                <br>
          </div>
    </body>
    <script>
        var balances=<%=  balances%>;
    </script>
</html>