<%- include('partials/header') %>
    <div class="py-10">
        <header>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold leading-tight text-gray-900"><%- page %> Balance - $<%- totalBalance.toLocaleString("en-US") %></h1>
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="px-4 py-8 sm:px-0">
                <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
                    <% balances.forEach(asset => { %>
                    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
                    <dt class="text-sm font-medium text-gray-500 truncate">
                        <%- asset.name %> - <%- asset.chain %> (<%- asset.type %>)
                    </dt>
                    <dd class="mt-1 text-3xl font-semibold text-gray-900">
                        $<%- parseFloat(asset.current_balance.toFixed(2)).toLocaleString("en-US") %>
                        <% if (asset.change > 0) { %> 
                            <p class="text-green-500">(<%- asset.change.toFixed(2) %>%)</p>
                        <% } else if (asset.change < 0) { %>
                            <p class="text-red-500">(<%- asset.change.toFixed(2) %>%)</p>
                        <%} else { %>
                            <p>(<%- asset.change.toFixed(2) %>%)</p>
                        <%}%>
                        <% if (asset.portfolio_allocation != null) { %>
                            <p class="text-sm">Portfolio Allocation: <%- asset.portfolio_allocation.toFixed(3) %>%</p>
                        <% } %>
                    </dd>
                    </div>
                    <% }); %>
                </dl>
            </div>
        </main>
    </div>
</body>
<script>
    var balances=<%=  balances%>;
</script>

<%- include('partials/footer') %>